﻿.img_title{
    width: 200px;
    height: 200px;
}
.img_title:hover{
    transition: all 0.3s ease-in;
    filter: brightness(.5);
}
.heading>h5{
    text-indent: 1em;
}
#footer p{
    color: black;
}
#footer a{
    color: black;
}
/*slider*/
.slider .indicators .indicator-item {
    background-color: #666666;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
    background-color: #ffffff;
}
.slider {
    width: auto;
    margin: 0 auto;
}
.slider .indicators {
    bottom: 60px;
    z-index: 100;
    /* text-align: left; */
}
/*/slider*/

ul { list-style-type: none; }

a {
    color: #000000;
    text-decoration: none;
}

.range_select {
    margin: 15px 0;
}
/** =======================
 * Contenedor Principal
 ===========================*/

.accordion {
    padding: 0;
    width: 100%;
    max-width: 360px;
    margin: 30px auto 20px;
    background: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 20px;
    color: #000000;
    font-size: 17px;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: black;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.material-icons {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link { color: #000000; }


.accordion li.open i { color: #000000; }

.accordion li.open i.material-icons {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
    margin: 0;
    padding: 0;
    display: none;
    background: #F3F3F3;
    font-size: 14px;
}

.submenu li { border-bottom: 1px solid #DDDDDD; }

.submenu a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #4FC3F7;
    color: #FFF;
}

/*---r2---*/

#main_img-r2{
    margin-top: 10px;
}

#text{
    text-indent: 1.5em;
    text-align: justify;
}

#img_character{
    width: 170px;
    height: 275px;
}

#top-height{
    margin-top: 5px;
}


/* RESTYLE MATERIALIZE SEARCH INPUT*/
   nav .input-field input[type=search] {
       width: 0;
   }
nav .input-field input[type=search]:focus {
    width:320px;
    color: transparent;                     /* Remove blinking cursor 1/2*/
text-shadow: 0 0 0 rgba(0, 0, 0, 0.87);    /* Remove blinking cursor 2/2*/
}


/* ------------------------------------------------------------------- */

input.error {
    border: 1px solid #ff0000;
}

label.error {
    color: #ff0000;
    font-weight: normal;
}