﻿body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    /*background: url(../images/reg_main_images.jpg) no-repeat center top / cover;
    background: #EDEDEF;*/
    background:#E0DFDD;
}

/*главное верхнее меню*/
nav {
    width: 100%;
    background-color:#000000
}
nav ul{
    text-align: center;
}
nav ul li {
    display:inline-block;
}

nav a {
    color:#FFFFFF;
    display:block;
    text-decoration: none;
    padding:20px 20px;
}

nav a:hover {
    background: #1b6dfb;
    color:#FFFFFF;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-trigger {
    display:none;
    color:#F8ECC2;
}

@media screen and (max-width:800px) {
    .menu-trigger {
        display:block;
    }
    nav ul li {
        display:block;
        border-top:1px #79896D solid;
    }
    nav ul {
        display:none;
    }
}

/*главное верхнее меню (под список)*/

nav ul ul{
    display: none;
    position: absolute;
    background: #000000;
}
nav li:hover ul{
    display: block;
}

nav li:hover li{
    display: block;
    box-shadow: 0 -2px 0 #6ee8fd;
}

/*левое меню на js*/

.left_menu{
    width: 200px;
    background: #000000;
    position: absolute;
    margin: 60px 0 0 -200px;
}

.left_menu a{
    color:#FFFFFF;
    display:block;
    text-decoration: none;
    font-size: 12px;
    padding:20px 5px;
    border-bottom: 2px solid #ffffff;
}
.left_menu a:hover{
    background: #1b6dfb;
    transition: all 0.3s ease;
}
.left_menu ul li ul{
    display: none;
    position: absolute;
    background: #000000;
}
.contenido{
    position: absolute;
    padding: 60px 20px;
}
#menu_bar {
    cursor: pointer;
    position: relative;
}

/*верхний блок*/
.top_field{
    width: auto;
    height: 660px;
    min-height: 600px;
}
.top_info{
    height: 600px;
    background: url("../images/r2_kol.jpg") no-repeat center top / cover;
}
/*ПОИСК*/
.bottom_info{
    width: 900px;
    margin: 0 auto;
    background: #ffffff;
    height: 50px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}
.bottom_info input{
    width: 250px;
    height: 40px;
    font-size: 18px;
    border-radius: 4px;
    padding: 0 5px;
    margin: 4px 20px 4px 3px;
    float: right;
}
.div_bottom_info{
    width: 450px;
    height: 50px;
    display: table-cell;
}
/*Главный список*/
.main_menu{
    width: 900px;
    min-height: 1500px;
    margin: 0 auto;
    height: auto;
    background: white;
    border-radius: 4px;
    display: block;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}

/***********************/
.base{
    box-shadow: 2px 2px 10px rgba(0,0,0,.4);
    background: #ffffff;
    display: inline-table;
    width: 900px;
    margin-bottom: 7px;
}

.base_row {
    Display: table-row;
}

.base li {
    display: table-cell;
}

.base_img{
    width: 80px;
}
.base_img img{
    position: absolute;
    padding: 17px;
}
.base_name{
    width: 200px;
    border-left: 2px solid #ccc;
}
.base_name h3{
    margin: 0;
    padding: 0 20px;
}
.base_name a{
    color: black;
    text-transform: none;
    text-decoration: none;
}
.base_name a:hover{
    color: #0000cc;
    text-shadow: 0 0 2rem rgba(255,255,255,.49);
}
.base_description{
    width: 500px;
    min-height: 150px;
    padding: 20px;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
}
.base_description p{
    margin: 0;
    padding-bottom: 15px;
    line-height: 1.2em;
}
.base_dell_change{
    font-size: 18px;
    text-transform: none;
    text-decoration: none;
    margin: 0;
    padding: 10px;
}
.base_dell_change a{
    margin-bottom: 10px;
}
A.input_dell {
    color: rgb(255, 0, 0);
}
A.input_dell:hover{
    color: #E6A5AB;
}
A.input_change {
    color: rgb(0, 153, 51);
}
A.input_change:hover{
    color: rgb(153, 255, 102);
}

/*номер страницы*/
.admin_bottom_number {
    box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
    height: 48px;
    clear: both;
}
.number{
    width: 30px;
    height: 42px;
    margin: 5px 5px;
    display: inline-grid;
}
.number h3{
    font-size: 30px;
    text-align: center;
    padding: 5px 0;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
    background-color: rgba(4, 9, 47, 0.7);
    color: #FFFFFF;
    border-radius: 0 0 10px 10px;
}

/*Подвал*/
footer{
    margin: 20px 0;
}
footer p{
    text-align: center;
}