﻿body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    /*background: url(../images/reg_main_images.jpg) no-repeat center top / cover;*/
    background: #EDEDEF;
}
div {
    box-sizing: border-box;
}
.clearfix:after{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
.container{
    width: 450px;
    height: 500px;
    background-color: rgba(4, 9, 47, 0.7);
    margin: 10% auto 10% auto;
    text-align: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 -5px 0 #6ee8fd;
}
.container h1{
    text-align: center;
    font-size: 40px;
    padding: 30px 0 5px 0;
    color: #fff;
}
.container input[type="text"], input[type="email"], input[type="password"]{
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin: 25px 0 15px 0;
    border-radius: 4px;
    padding: 0 10px 0 10px;
}
.reg_submit{
    padding: 13px 30px;
    margin: 20px 0 20px 0;
    font-size: 15px;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee8fd;
    cursor: pointer;
}
.reg_submit:hover{
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}
.adm_submit{
    padding: 13px 70px;
    margin: 20px 0 20px 0;
    font-size: 15px;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee8fd;
    cursor: pointer;
}
.adm_submit:hover{
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}
.admin_conteiner {
    width: 1200px;
    margin: 0 auto;
}
.admin_conteiner_top{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    background: white;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}
.admin_conteiner_left{
    width: 230px;
    height: 600px;
    margin-top: 5px;
    background: white;
    border-radius: 4px;
    float: left;
    display: block;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}
nav{
    margin: 0 auto;
}
.menu{
    display: block;
}
.menu li{
    margin: 20px;
    padding: 10px;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0,0,0,.4);
}
.menu li:hover{
    background: rgba(0,0,0,.1);
}

.menu a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(38, 38, 38);
}
.menu a:hover{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.admin_conteiner_main{
    width: 965px;
    height: auto;
    margin-top: 5px;
    background: white;
    border-radius: 4px;
    float: right;
    display: block;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}
.admin_conteiner_main_h {
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
    height: 48px;
}
.admin_bottom_number {
    box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
    height: 48px;
    clear: both;
}
.admin_conteiner_main_h h3{
    padding: 15px;
    font-size: 17px;
    float: left;
}
.adminconteiner_mein_add a{
    float: right;
    padding: 8px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    background: #33b5e5;
    border-radius: 5px;
    margin: 5px 25px 0 0;
 }
.adminconteiner_mein_add a:hover{
    float: right;
    padding: 8px;
    font-size: 17px;
    color: black;
    text-decoration: none;
    background: rgb(255, 204, 0);
    border-radius: 5px;
    margin: 5px 25px 0 0;
}
.admin_conteiner_mein_li{
    width:350px;
    float: left;
}
.adminconteiner_mein_add{
    float: right;
    width:300px;
}
.select_sort{
    text-decoration: underline;
    cursor: pointer;

}
.admin_submit{
    margin:10px 30px 20px;
    cursor: pointer;
    background: #33b5e5;
    width: 200px;
    border: 0;
    padding: 15px 25px;
    border-radius: 5px;
    color: #ffffff;
    transition: 0.3s ease;
}
.admin_submit:hover{
    background: #178ab4;
}

/*****************************************/
.base{
    box-shadow: 2px 2px 10px rgba(0,0,0,.4);
    background: #ffffff;
    display: inline-table;
    width: 965px;
    margin-bottom: 7px;
}

.base_row {
    Display: table-row;
}

.base li {
    display: table-cell;
}

.base_img{
    width: 80px;
}
.base_img img{
    position: absolute;
    padding: 17px;
}
.base_name{
    width: 200px;
    border-left: 2px solid #ccc;
}
.base_name h3{
    margin: 0;
    padding: 0 20px;
}
.base_name a{
    color: black;
    text-transform: none;
    text-decoration: none;
}
.base_name a:hover{
    color: #0000cc;
    text-shadow: 0 0 2rem rgba(255,255,255,.49);
}
.base_description{
    width: 500px;
    min-height: 100px;
    padding: 0 20px 0 20px;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
}
.base_description p{
    margin: 0;
    padding-bottom: 15px;
    line-height: 1.2em;
}
.base_dell_change{
    font-size: 18px;
    text-transform: none;
    text-decoration: none;
    margin: 0;
    padding: 10px;
}
.base_dell_change a{
    margin-bottom: 10px;
}
A.input_dell {
    color: rgb(255, 0, 0);
}
A.input_dell:hover{
    color: #E6A5AB;
}
A.input_change {
    color: rgb(0, 153, 51);
}
A.input_change:hover{
    color: rgb(153, 255, 102);
}
/*****************************************/
.main_reg {
    width: auto;
    height: 60px;
    background: white;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}
.main_reg p {
    float: left;
    padding: 20px 0 0 30px;

}
.main_reg a{
    float: right;
    background: #33b5e5;
    margin: 10px 30px 0 0;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
}

.main_reg a:hover{
    float: right;
    background: rgb(255, 204, 0);
    margin: 10px 30px 0 0;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.img_logo{
    position: relative;
    right: 116px;
}
.option_2 {
    margin-left: 30px;
}
.admin_conteiner_input img{
    width: 965px;
    height: 550px;
}
.admin_conteiner_input_add input[type="text"]{
    width: 95%;
    height: 50px;
    font-size: 18px;
    border-radius: 4px;
    padding: 0 10px 0 10px;
    margin: 25px ;
}
.admin_conteiner_input_add select{
    display: block;
    width: 300px;
    height: 50px;
    font-size: 18px;
    border-radius: 4px;
    padding: 0 10px 0 10px;
    margin: 25px 0 25px 266px;
}
.h3click {
    font: bold 15px sans-serif;
    cursor: pointer;
    padding: 6px 25px;
    background: #EAEAEA;
    border:1px solid #E3E3E3;
}

.h3click:hover {
    background: #DDDDDD;
}

.table_garant {
    width: 472px;
    height: 570px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 0 5px 30px 5px;
    float: left;
}

.sell_buy {
    background: rgba(253, 229, 224, 0.9);
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    height: 48px;
}

.sell_buy h1{
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    color: #FF0000;
    text-transform: uppercase;
}

.sell_buy_left {
     font-size: 25px;
    padding: 5px 10px;
}

.sell_buy_right{
    float: right;
    font-size: 25px;
    padding: 5px 10px;
}

.sell_buy_right_bottom{
    float: right;
    font-size: 25px;
    padding: 20px 10px 0 10px;
}
.sell_buy_right_bottom a{
    text-decoration: none;
    color: rgb(0, 153, 255);
}
.sell_buy_right_bottom a:hover{
    text-decoration: none;
    color: black;
}
.sell_buy_left_bottom{
    font-size: 25px;
    padding: 20px 10px 0 10px;
}
.menu_select{
    background: white;
    height: 300px;
    margin: 5px 0 10px 0;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}

#sorting_list {
    border: 1px solid #A3C0D2;
    position: absolute;
    width: 200px;
    height: 108px;
    background: white;
    padding: 5px;
    display: none;
}

